div.BRAINPAYLOAD{
	display: inline-block;
}
div.VISUAL{
	display: flex;
}
div.TRIP{
	background-image: url('../images/trip.jpeg');
  	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.4;
}
div.MIDOUSUJI{
	background-image: url('../images/midousuji.jpg');
  	width: 400px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 1;
}
div.CHIKOI{
	background-image: url('../images/chikoiwar.jpg');
  	width: 800px;
	height: 540px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 1;
}
div.TEXT{
	color: red;
	flex: 1;
	font-size: 90px;
}
div.TEXTCONTAINER{	
	

	width: 4500px;
	height: 7200px;
	background-color: rgb(255,255,0,0.5);
	display: flex;
}
audio.song {
  
  margin: auto; /* the default for span */
}
 h2.LABELTITLE {


}
div.LABEL {

color: red;
}
body {
  background-image: url('../images/polyneuropathy.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

